@page
@model TwitchBotCore.Pages.BossFightModel
@{
    Layout = null;
    ViewData["Title"] = "BossFight";
}
<h1>@ViewData["Error"]</h1>
<style>
    .bullet-container {
        position: fixed;
    }

    .bullet {
        width: 100px;
        height: 100px;
    }
      .explosion-container {
        position: fixed;
    }
     .explosion {

        width:0px;
        height:0px;
    }



   

    #start-firing {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
    }

    #catapult {
        position: fixed;
        bottom: 0px;
        left: 10px;
    }
    #the-catapult{
         width: @{@Model.CatapultWidth}px;
        height: @{@Model.CatapultHeight}px;
       
    }

   #target {
        position: fixed;
        bottom: 10px;
        right: 10px; 
    }
    #boss-health-container{
        padding:10px;

    }
    #boss-health{
        height:30px;
        width:100%;
        background-color:red;
        color:seagreen;
        text-align: center;
        font-size: 30px;
    }
    #the-boss{
       width: @{@Model.BossWidth}px;
        height: @{@Model.BossHeight}px;
    }
   
</style>
<form method="post">
    <input type="submit" value="Stop Bot" class="btn btn-danger" />
</form>
<h1> THE MORE EMOTES, THE FASTER THEY GET!</h1>
<div id="message-container">

</div>
<div id="start-firing" onclick="fireOneBullet()">
</div>
<div id="catapult">
    <img id="the-catapult" src="@Model.CatapultImage" />
</div>

<div id="target"> 
    <div id="boss-health-container">
         <div id="boss-health" data-value="@Model.BossHealth">
             
         </div> 
    </div>  
   
    <img id="the-boss" src="@Model.BossImage" />
</div>

  

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Vector.js"></script>

<script src="~/js/BossFIght.js"></script>

