@page
@model TwitchBotCore.Pages.CommandsModel
@{
    ViewData["Title"] = "Commands";
}

<h2>Commands</h2>
<ul>
 @foreach(var cmd in Model.cmds)
 {
     <li>
         @cmd.Name
     </li>
     <li>
         @cmd.Response
     </li>
     <li>
         
        <form method="post">
            <button type="submit" asp-route-cmdname="@cmd.Name">Delete</button>
       </form> 
         
     </li>
 }

</ul>
<a asp-page="AddCommand" class="btn btn-primary">Add New Command</a>


