@page
@model IndexModel

@{
    ViewData["Title"] = "TwitchBot";
}

<form method="post" asp-action="StartBot">
    <div>
        <label asp-for="BotUserName"></label>
        <input asp-for="BotUserName" />
    </div>
    <div>
        <label asp-for="OAuthToken"></label>
        <input asp-for="OAuthToken" />
    </div>
    <div>
        <label asp-for="ChannelName"></label>
        <input asp-for="ChannelName" />
    </div>

    <input type="submit" value="StartBot" class="btn btn-success" />
</form>

<div>
    <ul id="results">

    </ul>

</div>

<!-- TEST STUFF-->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    
    
    var Person = function (name) {
        this.name = name;

    }
    var Human = function (species) {
        this.species = species;

    };
   

    var person1 = new Person("alex");

    Person.prototype.name2 = "secondName";

    var person2 = new Person("alex231");
   
    console.log(person1);

    console.log(person2);


    
    
</script>
<style>
    li.pass{color:green;}
    li.fail{color:red}

</style>