@page
@model TwitchBotCore.Pages.TwitchBotRunningModel
@{
    ViewData["Title"] = "TwitchBotRunning";
}

<form method="post">
    <input type="submit" value="StopBot" class="btn btn-danger"/>
</form>
<h2>TwitchBotRunning</h2>

