@page
@model TwitchBotCore.Pages.TwitchBotRunningModel
@{
    ViewData["Title"] = "TwitchBotRunning";
}

<div id="TwitchChat">
    <h1>CHAT: </h1>
</div>

<form method="post">
    <input type="submit" value="StopBot" class="btn btn-danger"/>
</form>
<h2>TwitchBotRunning</h2>

